
/_trash
/..Rcheck
/.tmp
/lib
*_cache

/lintr_results.*

# ignore system-specific or IDE specific files
.DS_Store
fctBio.Rproj
.Rproj.user
**.swp
**.Rproj.user
issue.txt

# ignore build files
documentation.pdf

# ignor test files but not test dir
test.*

# ignore testthat fileslintr_results

# exclude opened xlsx files
~$*

# ignore language specific files
**__pycache__
**/Rplot*
**.RData
**.Rhistory
/vignettes/*_files
/vignettes/*.R

/Meta
/doc
/doc/
/Meta/
