assertthat
collapse
cowplot
data.table
dendextend
dplyr
DT
fastmatch
ggdendro
ggh4x
ggplot2
import
logging
magrittr
matrixStats
openxlsx
parallel
philentropy
purrr
pvclust
R6
stringr
tibble
tidyselect
utils
eulerr
